<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Business List</title>
  </head>
  <body>
    <div class="container p-3 mb-3">
      <div class="rowmt-5">
        <h1 class="fw-bolder titleOfPage">Clinics</h1>
      </div>
      <div class="row p-1 mt-3">
        <div
          class="col-lg-4 col-md-6 col-sm-6 p-3"
          *ngFor="let business of businessListData"
        >
          <div class="card p-1 shadow-lg border ">
            <img
              class="card-img-top clinicImg"
              src="{{business.imageUrl}}"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">{{ business.entity_name }}</h5>
              <button
                (click)="routeClick(business.entity_id,business.encryptedEntityId)"
                class="btn btn-primary"
              >
                Book Doctor
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
