<section class="clinicDetail">
  <div class="container-fluid">
    <div class="row titleSpace">
      <div class="col-sm-12"></div>
    </div>
    <div class="row titleSection">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <span> Taking Care Of Your Health is Our Top Priority</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12"><span>Email:lissie@gmail.com</span></div>
          <div class="col-sm-12"><span>Email:lissie@gmail.com</span></div>
          <div class="col-sm-12"><span>Email:lissie@gmail.com</span></div>
        </div>
        <div class="row">
          <div class="col-sm-12">Book button</div>
        </div>
      </div>
      <div class="col-sm-6">image</div>
    </div>
  </div>
</section>
<section class="doctorList">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9"></div>
    </div>
    <div class="row">
      <div class="col-sm-4">card</div>
    </div>
  </div>
</section>
