<!-- Bootstrap CSS CDN -->
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
/>
<!-- Your custom styles (if any) -->
<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>

<div class="container mt-5">
  <h3 class="text-center pb-3">BOOK AN APPOINTMENT</h3>
  <!-- Top Card Split -->
  <div class="card">
    <div class="row no-gutters">
      <!-- Left Section with Image -->
      <div class="col-md-4 text-center p-2 cardImgDiv">
        <!-- <img
          *ngIf="doctor_details.doctor_name"
          src="https://www.chillarpayments.com/Demo/Direct-Book/images/Wc2xbVeJl0d6cyfWGCxlvcsxxYogVqsJElJy5tvN.jpeg"
          class="card-img img=responsivep-5"
          alt="Doctor Image"
        /> -->
        <img
          *ngIf="doctor_details.doctor_name"
          src="{{ doctor_details.profileImageUrl }}"
          class="card-img img-fluid"
          alt="Doctor Image"
        />
      </div>
      <!-- Right Section with Name, Designation, and Consulting Fees -->
      <div class="col-md-8 text-center" *ngIf="doctor_details">
        <div class="card-body">
          <h4 class="card-title">
            <b>{{ doctor_details.doctor_name }}</b
            ><br />
          </h4>
          <h6>{{ doctor_details.qualification }}</h6>
          <h6>{{ doctor_details.designation }}</h6>
          <!-- ... (previous HTML code) ... -->
          <div class="card-tex">
            <div
              [class.truncated]="isTruncated"
              [class.expanded]="!isTruncated"
            >
              {{ doctor_details.description }}
            </div>
            <button
              *ngIf="isTruncated"
              (click)="toggleDescription()"
              class="toggleBtn"
            >
              View More
            </button>
            <button
              *ngIf="!isTruncated"
              (click)="toggleDescription()"
              class="toggleBtn"
            >
              View Less
            </button>
          </div>
          <!-- ... (remaining HTML code) ... -->
          <!-- <div class="calcText">
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6 labelCol">Consulting Fees:</div>
                  <div class="col-sm-6">
                    ₹
                    {{
                      doctor_details.amountDetails.consultationChargeWithoutTax
                    }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 labelCol">GST:</div>
                  <div class="col-sm-6">
                    ₹
                    {{ doctor_details.amountDetails.gstAmount }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 labelCol">Platform Fee:</div>
                  <div class="col-sm-6">
                    ₹
                    {{ doctor_details.amountDetails.appServiceCharge }}
                  </div>
                </div>
                <div class="row totalRow">
                  <div class="col-sm-6 labelCol">Total Fee:</div>
                  <div class="col-sm-6">
                    ₹
                    {{ doctor_details.amountDetails.totalAmount }}
                  </div>
                </div>
              </div>
              <div class="col-sm-1"></div>
            </div>
          </div> -->
          <!-- Add more details as needed -->
        </div>
      </div>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()">
    <!-- Date Picker -->
    <div class="mt-4">
      <label for="fecha1">
        <span class="date-title">Select Date</span>
      </label>
      <!-- <div class="datepicker date input-group">
        <input
          type="date"
          class="form-control"
          id="fecha1"
          [(ngModel)]="selectedDateString"
          (change)="onDateChange()"
          required
          [min]="minDate"
          [max]="maxDate"
        />
      </div> -->
      <div class="datepicker date input-group">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Choose a date"
            id="fecha1"
            [min]="minDate"
            [max]="maxDate"
            [value]="minDate"
            (dateChange)="onDateChange($event)"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #picker
            (dateChange)="onDateChange($event)"
          ></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <!-- Time Picker -->
    <div class="mt-4">
      <span class="time-picker">Select Slot </span>
      <p
        *ngIf="slot"
        style="color: red; font-weight: 800"
        class="text-center mt-5 mb-5"
      >
        No slot available!
      </p>
      <p
        *ngIf="isDocUnavailable"
        style="color: red; font-weight: 800"
        class="text-center mt-5 mb-5"
      >
        Doctor not available!
      </p>
      <div class="time-list" id="timepicker">
        <!-- Loop through time slots and display each -->
        <div
          class="time-option"
          *ngFor="let slot of timeSlots"
          (click)="selectTimeSlot(slot)"
          [ngClass]="{
            booked: slot.booking_status === 1,
            onHold: slot.booking_status === 3,
            active: slot === selectedTimeSlot,
            disabled: slot.booking_status === 1 || slot.booking_status === 3
          }"
        >
          <h3>{{ bookingType ? slot.token_number : null }}</h3>
          {{ slot.time_slot }}
        </div>
      </div>
    </div>
    <!-- Proceed Button -->
    <div class="mt-4 pb-5" *ngIf="!slot && !isDocUnavailable">
      <button
        type="submit"
        class="btn"
        [disabled]="!selectedDate || !selectedTimeSlot"
      >
        Proceed to Book
      </button>
    </div>
  </form>
</div>
<footer>
  <div class="container mb-3">
    <div class="row">
      <div class="col-sm-2 text-center border-right border-dark">
        <a
          href="https://www.chillarpayments.com/privatepractice.html"
          target="_blank"
          rel="noopener noreferrer"
        >
          About</a
        >
      </div>
      <div class="col-sm-3 text-center border-right border-dark">
        <a
          href="https://www.chillarpayments.com/terms-and-conditions.html"
          target="_blank"
          rel="noopener noreferrer"
        >
          Terms & Conditions</a
        >
      </div>
      <div class="col-sm-2 text-center border-right border-dark">
        <a
          href="https://www.chillarpayments.com/privacy-policy.html"
          target="_blank"
          rel="noopener noreferrer"
        >
          Privacy Policy</a
        >
      </div>
      <div class="col-sm-3 text-center border-right border-dark">
        <a
          href="https://www.chillarpayments.com/Cancellation-Policy.html"
          target="_blank"
          rel="noopener noreferrer"
        >
          Cancellation Policy</a
        >
      </div>
      <div class="col-sm-2 text-center">
        <a
          href="https://www.chillarpayments.com/contactus.html"
          target="_blank"
          rel="noopener noreferrer"
        >
          Contact Us</a
        >
      </div>
    </div>
  </div>
</footer>
