<!-- Bootstrap CSS CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
<script src="https://sdk.cashfree.com/js/v3/cashfree.js"></script>
<!-- Your custom styles (if any) -->

<div class="container mt-5">
  <i class="fas fa-arrow-left back-icon" (click)="goBack()"></i>
  <h3 class="text-center pb-3">Appointment Details</h3>
  <!-- Additional Card for Date, Time, Doctor's Price, and Booking Price -->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 text-center">
          <h6>
            Date:
            {{
            timeSlotService.timeSlotService.selectedDate | date : "mediumDate"
            }}
          </h6>
          <h6>
            Time:
            {{ timeSlotService.timeSlotService.selectedTimeSlot.time_slot }}
          </h6>
        </div>
        <div class="col-md-6 text-center">
          <h6 *ngIf='amountData.bookingFee!=0'>Booking Fee: ₹{{ amountData.bookingFee }}</h6>
          <h6>
            Service Fee: ₹{{ doctorsData.doctorsData.consultation_charge }}
          </h6>
          <!-- <button mat-icon-button matTooltip="GST included" aria-label="GST info">
            <fa-icon class="infoBtn" [icon]="faCircleInfo"></fa-icon>
          </button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Customer Details Card -->
  <!-- Customer Details Card -->
  <!-- Customer Details Card -->
  <div class="card">
    <div class="card-body">
      <form [formGroup]="customerForm" (ngSubmit)="validateForm()">
        <div class="form-group">
          <label for="username">Client Name</label>
          <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter your name"
            (input)="restrictToAlphabets($event)" />
          <small *ngIf="
              customerForm.get('username').hasError('required') &&
              customerForm.get('username').touched
            " style="color: red">Client name is required</small>
          <small *ngIf="
              customerForm.get('username').hasError('pattern') &&
              customerForm.get('username').touched
            " style="color: red">Client name must contain only alphabets</small>
        </div>

        <div class="form-group">
          <label for="mobile">Contact Number</label>
          <input type="text" class="form-control" (input)="restrictToNumbers($event)" id="mobile"
            formControlName="mobile" placeholder="Enter your mobile number" />
          <small *ngIf="
              customerForm.get('mobile').hasError('required') &&
              customerForm.get('mobile').touched
            " style="color: red; margin-left: 8px">Phone number is required.</small>
          <small *ngIf="
              customerForm.get('mobile').hasError('pattern') &&
              customerForm.get('mobile').touched
            " style="color: red; margin-left: 8px">Phone number must contain only numbers.</small>
          <small *ngIf="
              customerForm.get('mobile').hasError('minlength') &&
              customerForm.get('mobile').touched
            " style="color: red; margin-left: 8px">Phone number must be at least 10 digits.</small>
          <!-- <small *ngIf="customerForm.get('mobile').hasError('maxlength') && customerForm.get('mobile').touched" style="color: red;margin-left: 8px;">Phone number must not exceed 10 digits.</small> -->
        </div>

        <button type="submit" [disabled]="!customerForm.valid" class="btn btn-primary">
          Confirm Booking
        </button>
      </form>
    </div>
  </div>

  <!-- <button type="button" class="btn btn-primary mt-5" (click)="validateForm()">Confirm Booking</button> -->
</div>
<!-- Bootstrap JS, Popper.js, and jQuery CDN (required for Bootstrap JavaScript components) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://checkout.razorpay.com/v1/checkout.js"></script>